[build]
  command = "hugo version && ./build.sh --copy"
  base = "docs/"
  publish = "docs/public/"

[context.production.environment]
  HUGO_VERSION = "0.127.0"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.127.0"
  HUGO_ENABLEGITINFO = "true"

[context.branch-deploy.environment]
  HUGO_VERSION = "0.127.0"
  HUGO_ENABLEGITINFO = "true"

[[redirects]]
  from = "/api/event"
  to = "https://academy-api.threedots.tech/api/event"
  force = true
  status = 200
