services:
  server:
    image: golang:1.25
    restart: unless-stopped
    depends_on:
      - redis
    volumes:
      - .:/app
      - $GOPATH/pkg/mod:/go/pkg/mod
    working_dir: /app
    command: go run main.go

  redis:
    image: redis:7
    ports:
      - 6379:6379
    restart: unless-stopped
