version: '3'
services:
  golang:
    image: golang:1.19
    restart: unless-stopped
    ports:
    - 8080:8080
    depends_on:
      - rabbitmq
    links:
      - rabbitmq
    volumes:
    - .:/app
    - $GOPATH/pkg/mod:/go/pkg/mod
    working_dir: /app
    command: go run .

  rabbitmq:
    image: rabbitmq:3.7
    restart: unless-stopped