// Put your custom SCSS code here
* {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, .navbar-brand {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
}

[data-bs-theme="dark"] .only-light {
    display: none;
}

[data-bs-theme="light"] .only-dark {
    display: none;
}
