pre, pre code {
    background: #f8f8f8 !important;
}

#kube-features .row:first-child {
    border-bottom: none;
}

.message > p {
    margin-bottom: 0px;
}

/* fix for stupid css */
.my-collapse  div {
    border: none;
    padding: 0;
    margin-bottom: 0;
}

.my-collapse > div.collapse-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 24px 32px 1px;
    margin-bottom: 1px;
}